/* --- GLOBAL STYLES --- */

:root {
  --PR-black: #101f1f;
  --PR-dark-grey: #566161;
  --PR-light-grey: #afb8b8;
  --PR-white: #ffffff;
  --PR-primary-dark: #037989;
  --PR-primary-light: #2fabbc;
  --PR-rainbow-logo: linear-gradient(
    258.62deg,
    #00829c 4.2%,
    #4bd8dc 16.81%,
    #00aec8 30.94%,
    #d5da00 42.55%,
    #e9671a 50.62%,
    #f96868 58.69%,
    #00aec8 72.32%,
    #4bd8dc 83.42%,
    #00829c 94.52%
  );
  --PR-rainbow-roller: linear-gradient(
    266.99deg,
    #00829c 2.61%,
    #4bd8dc 17.72%,
    #00aec8 34.63%,
    #d5da00 48.52%,
    #e9671a 58.19%,
    #f96868 67.85%,
    #00aec8 84.16%,
    #4bd8dc 97.45%,
    #00829c 110.74%
  );
  --PR-icon-gradient: linear-gradient(
      184deg,
      #415252 8%,
      #4e5555 31%,
      #101f1f 66%
    ),
    var(--PR-black);
}

body {
  font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
  font-size: 20px;
  font-weight: 300;
  color: var(--PR-black);
  background-color: var(--PR-white);
}

h1,
h3 {
  font-family: "Titillium Web", sans-serif;
  font-weight: 700;
  letter-spacing: 0.02em;
}

h1 {
  font-size: 3em;
  line-height: 122%;
  letter-spacing: 0.02em;
}

h2 {
  font-weight: 300;
  font-size: 1.5em;
  line-height: 1.4em;
  letter-spacing: 0.02em;
}

h3 {
  font-size: 2em;
  text-align: center;
}

button {
  font-size: 1em;
  text-align: center;
  border-radius: 8px;
  border: 1px solid var(--PR-black);
  cursor: pointer;
  width: 40px;
  height: 40px;
  color: var(--PR-black);
  background: var(--PR-white);
  transition: all 0.3s ease-in-out;
}

button:hover,
button:focus {
  border-width: 2px;
}

button:active {
  transform: scale(0.98) translateY(1px);
}

button:disabled {
  color: var(--PR-light-grey);
  cursor: not-allowed;
}

.large-button {
  width: 11.5em;
  height: 3em;
  font-weight: 700;
  color: var(--PR-white);
  background: linear-gradient(183.97deg, #415252 8%, #4e5555 31%, #101f1f 66%),
    #101f1f;
}

.large-button:hover,
.large-button:focus {
  color: var(--PR-white);
  transform: translateY(-1px);
  background: linear-gradient(
      183.01deg,
      #101f1f 7.33%,
      #394949 31.46%,
      #495151 46.59%,
      #384747 59.2%,
      #101f1f 76.49%
    ),
    #101f1f;
}

.large-button:active {
  transform: scale(0.98) translateY(1px);
}

/* --- SECTION STYLES --- */

/* -- Header -- */

header {
  height: 100vh;
  width: 100%;
  /* padding: 3em; */
  display: grid;
  grid-template-columns: 55fr 45fr;
  grid-template-rows: 20% 80%;
  grid-gap: 0.2em;
  grid-template-areas:
    "logo bckgrd"
    "text bckgrd";
}

header .logo {
  max-width: 12em;
  grid-area: logo;
  margin: 3em;
}

header .text {
  margin: 0 3em 0 3em;
  padding-bottom: 3em;
  grid-area: text;
  align-self: flex-end;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: flex-start;
}

header h2 {
  margin: 1.3em 0 1.5em 0;
}

header .background {
  grid-area: bckgrd;
  z-index: -1;
  justify-self: flex-end;
  align-self: flex-start;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

header .background img {
  max-height: 100vh;
}

/* -- How To -- */

.how-to {
  background: #f5f6f6;
  text-align: center;
  padding: 7em 3em;
}

.how-to > * {
  margin-left: auto;
  margin-right: auto;
}

.how-to-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
}

.how-to-item {
  flex: 0 0 15em;
  margin: 0 1.8em;
}

.how-to-num {
  font-family: Titillium Web;
  font-style: normal;
  font-weight: bold;
  font-size: 3em;
  line-height: 122%;
  margin: 1em auto 0.5em auto;
  color: transparent;
  background: linear-gradient(
    91deg,
    var(--PR-primary-light) 40%,
    var(--PR-primary-dark) 65%
  );
  background-clip: text;
}

/* -- Generator -- */

.generator {
  padding: 7em 3em;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
}

/* - Controls - */

.controls {
  flex: 0 0 360px;
  margin-right: 2.25em;
  padding: 2em;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: stretch;
  border: 1px solid var(--PR-light-grey);
  border-radius: 8px;
}

.controls > * {
  margin: 1em 0;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 3em;
}

.controls .large-button {
  margin-top: 0;
  width: auto;
}

.controls .buttons {
  margin-bottom: 0;
}

.user-colours {
  display: flex;
  flex-flow: column nowrap;
}

.user-colours > * {
  flex-basis: 3em;
}

.user-colour {
  margin-bottom: 1em;
  border: 1px solid var(--PR-light-grey);
  border-radius: 8px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s ease-in-out;
}

.user-colour > * {
  display: inline-block;
  margin: 0.75em;
}

.user-colour .rect,
.popup-values-line .rect {
  flex: 0 0 1.5em;
  height: 1.5em;
  border: 0.5px solid var(--PR-light-grey);
}

.colour-prompt {
  cursor: pointer;
}

.colour-prompt,
.colour-input div {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  transition: all 0.3s ease-in-out;
}

.colour-prompt > * {
  display: inline-block;
  margin: 0.75em;
}

.colour-input label {
  font-size: 0.7em;
  color: var(--PR-dark-grey);
}

.input-error,
.input-error:focus,
.input-error:active {
  border-color: #f96868;
}

.colour-input .label-error {
  color: #f96868;
}

.palette {
  border: 0.5px solid var(--PR-light-grey);
  border-radius: 8px;
  display: flex;
  flex-flow: row nowrap;
}

.palette .colour {
  display: inline-block;
  margin: 0;
}

.palette .primary {
  flex: 0 1 45%;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.palette .accent1 {
  flex: 1 0 10%;
}

.palette .accent2 {
  flex: 0 0 10%;
}

.palette .white,
.palette .dark {
  flex: 0 1 15%;
}

.palette .light {
  flex: 1 0 5%;
}

.palette .dark {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttons button {
  font-weight: 600;
  margin: 0 0.5em;
  display: inline-block;
}

.buttons button:disabled,
.buttons button:disabled:hover,
.buttons button:disabled:focus {
  border: 1px solid var(--PR-light-grey);
}

/* - CSS pop-up - */

.popup-card {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  width: 70vw;
  min-height: 70vh;
  box-shadow: 0 0 100px var(--PR-dark-grey);
  border-radius: 8px;
  background-color: var(--PR-white);
  padding: 1em;
  margin: 0.2em;
}

.popup-card .instructions {
  margin: 1em 48px;
  text-align: center;
}

.popup-nav {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}

.popup-tab-name {
  flex: 0 1 50%;
  display: inline-block;
  border: 1px solid var(--PR-dark-grey);
  border-radius: 8px 8px 0 0;
  cursor: pointer;
  padding: 0 1em;
  text-align: center;
  background-color: #e6e9e9;
}

.popup-tab-active {
  background-color: var(--PR-white);
  font-weight: 700;
  border-color: var(--PR-black);
  border-bottom: none;
  cursor: auto;
}

.popup-close-button {
  position: absolute;
  top: 1em;
  right: 1em;
}

.popup-values,
.popup-css {
  border-radius: 0 0 8px 8px;
  border: 1px solid var(--PR-black);
  border-top: none;
  padding: 1em;
}

.popup-values-line {
  margin-bottom: 1em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.popup-values-line > * {
  margin: 0 0.2em;
}

.popup-values-line label,
.popup-values-line input {
  flex: 0 0 30%;
}
.popup-values-line button {
  flex: 0 0 40px;
}

.popup-btn-container {
  position: relative;
}

.popup-copy-success {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 10em;
  padding: 0.3em;
  color: var(--PR-white);
  background-color: var(--PR-primary-light);
  border-radius: 4px;
  font-size: 0.7em;
}

.popup-css > * {
  margin-bottom: 1em;
}

#popup-css-text {
  width: 90%;
  height: 14em;
  margin: 0.2em;
  border-color: var(--PR-light-grey);
}

#popup-css-text:focus,
#popup-css-text:active {
  border-color: var(--PR-dark-grey);
}

/* - Mockup - */

.mockup {
  position: relative;
  flex: 0 0 80em;
  border: 1px solid var(--PR-light-grey);
  font-size: 0.45em;
}

.mockup > * {
  transition: all 0.5s ease-in-out;
}

.mockup-inactive {
  background-color: var(--PR-dark-grey);
}

.mockup .animated-logo {
  position: absolute;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  background-color: var(--PR-white);
  animation: logo-back 3s linear 1;
}

@keyframes logo-back {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.animated-eraser {
  grid-column: 1/2;
  grid-row: 1/2;
  width: 270px;
  height: 67.5px;
  z-index: 2;
  margin: auto;
  background-image: url("./stroke.svg");
  background-size: 200% 100%;
  background-position: 90%;
  animation: erase 3s ease-in-out 1;
}

@keyframes erase {
  10% {
    background-position: 90%;
  }
  55% {
    background-position: 5%;
  }
  95% {
    background-position: 85%;
  }
}

.animated-logo .logo-letters,
.animated-logo .logo-roller {
  grid-column: 1/2;
  grid-row: 1/2;
  width: 270px;
  margin: auto;
}

.animated-logo .logo-letters {
  z-index: 1;
}

.animated-logo .logo-letters .roller path {
  fill: none;
  stroke: none;
}

.animated-logo .logo-roller {
  z-index: 3;
}

.animated-logo .logo-roller .letters path {
  fill: none;
  stroke: none;
}

.animated-logo .logo-roller .roller {
  animation: roll 3s ease-in-out 1;
}

@keyframes roll {
  10% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(183px);
  }
  90% {
    transform: translateX(0);
  }
}

.mockup .navbar {
  width: 100%;
  padding: 1em 3em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.mockup-inactive .navbar {
  background-color: var(--PR-white);
}

.mockup .demo-logo {
  width: 2.7em;
  cursor: pointer;
}

.mockup-inactive .demo-logo {
  fill: var(--PR-black);
}

.mockup-inactive .demo-logo path {
  stroke: var(--PR-white);
}

.mockup .hamburger {
  display: none;
}

.mockup .menu-items {
  flex: 0 0 60%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}

.mockup .menu-items li {
  display: inline-block;
  padding: 0.5em;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.mockup-inactive .menu-items li:hover,
.mockup-inactive .menu-items li:focus,
.mockup-inactive .menu-items li:first-of-type {
  color: var(--PR-light-grey);
}

.mockup .header {
  height: 254px;
  width: 100%;
  padding: 3em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}

.mockup-inactive .header {
  background-color: var(--PR-light-grey);
}

.mockup .header .text {
  flex: 0 0 38em;
}

.mockup .h1 {
  font-weight: 800;
  font-size: 4em;
  line-height: 136%;
  margin: 0.25em;
}

.mockup .subheading {
  font-size: 1.33em;
}

.mockup .button {
  width: 13em;
  height: 3em;
  margin: 1em 0;
  border-radius: 3.2em;
  border: 2px solid transparent;
  font-weight: 600;
  font-size: 1.33em;
}

.mockup-inactive .button {
  background-color: var(--PR-dark-grey);
}

.mockup-inactive .button:hover,
.mockup-inactive .button:focus {
  color: var(--PR-light-grey);
}

.mockup .image {
  flex: 0 0 22.2em;
  margin: 3em 5em;
}

.mockup-inactive .image .line {
  stroke: var(--PR-black);
}

.mockup-inactive .image .circle {
  fill: var(--PR-dark-grey);
}

.mockup-inactive .image .triangle {
  fill: #f5f6f6;
}

.mockup .section {
  text-align: center;
  padding: 3em;
}

.mockup-inactive .section {
  background: #f5f6f6;
}

.mockup .h2 {
  font-weight: 800;
  font-size: 2.67em;
  margin: 0.5em;
}

.mockup .benefits {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: flex-start;
}

.mockup .pillar {
  height: 20em;
  margin: 1.75em;
  padding: 2em;
}

.mockup-inactive .pillar {
  background: var(--PR-white);
  box-shadow: 2px 2px 5px #c0c0c0;
}

.mockup .pillar .icon {
  height: 25px;
}

.mockup-inactive .circle-icon,
.mockup-inactive .triangle-icon {
  fill: var(--PR-light-grey);
  stroke: var(--PR-black);
}

.mockup-inactive .waves-icon-back {
  stroke: var(--PR-black);
}

.mockup-inactive .waves-icon-front-1 {
  stroke: var(--PR-light-grey);
}

.mockup-inactive .waves-icon-front-2 {
  stroke: var(--PR-dark-grey);
}

.pillar .benefit {
  font-size: 1.33em;
  font-weight: 600;
}

.pillar p {
  margin: 1.5em 0;
}

.pillar .a {
  font-weight: 600;
  cursor: pointer;
}

.pillar p:last-of-type {
  text-align: left;
}

/* -- Footer -- */

footer {
  background: #e6e9e9;
  padding: 3em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

footer .logo {
  max-width: 10em;
}

footer > * {
  display: inline-block;
  margin: 0 4px 20px 4px;
}

small a,
small a:visited {
  display: inline-block;
  font-weight: 700;
  color: transparent;
  background: linear-gradient(
    96deg,
    var(--PR-primary-light) 0%,
    var(--PR-primary-dark) 67%
  );
  background-clip: text;
  transition: all 0.3s ease-in-out;
}

small a:hover,
small a:focus {
  transform: translateY(-2px);
  background: linear-gradient(
    135deg,
    var(--PR-primary-dark) 0%,
    var(--PR-primary-light) 30%,
    var(--PR-primary-dark) 80%
  );
  background-clip: text;
}

small a:active {
  transform: translateY(1px);
}

footer .social-icons a,
footer .social-icons a:visited {
  display: inline-block;
  color: var(--PR-black);
  font-size: 40px;
  margin: 0 0.25em;
  transition: all 0.3s ease-in-out;
}

footer .social-icons a:hover,
footer .social-icons a:focus {
  color: var(--PR-black);
  transform: translateY(-2px);
}

footer .social-icons a:active {
  color: var(--PR-black);
  transform: translateY(1px);
}

/* --- RESPONSIVE STYLES --- */

@media screen and (max-width: 1250px) {
  body {
    font-size: 18px;
  }

  .generator {
    flex-flow: column nowrap;
    justify-content: auto;
    align-items: center;
  }

  .controls {
    flex-basis: min-content;
    margin: 0 0.2em 2em 0.2em;
  }

  .controls > * {
    width: 100%;
    flex-basis: 3em;
    margin: 1em 0 0 0;
  }

  .controls .buttons button {
    width: 40px;
    height: 40px;
  }

  .mockup {
    justify-self: flex-start;
    flex-basis: max-content;
    width: 80em;
    margin: 0 0.2em 2em 0.2em;
  }

  @media screen and (max-width: 1075px) {
    h1 {
      font-size: 2.5em;
    }
    h2 {
      font-size: 1.3em;
    }
    header {
      height: auto;
    }

    @media screen and (max-width: 850px) {
      h1 {
        font-size: 2.2em;
      }
      h2 {
        font-size: 1.15em;
      }

      header {
        grid-template-columns: 1fr;
        grid-template-rows: 50% 50%;
        grid-template-areas:
          "bckgrd"
          "text";
      }

      header .logo {
        position: absolute;
        top: 0;
        left: 0;
      }

      header .background img {
        max-width: 60vw;
      }

      @media screen and (max-width: 700px) {
        body {
          font-size: 16px;
        }

        header .logo {
          margin: 2em;
        }

        header .text {
          margin: 0 2em 0 2em;
        }

        .how-to,
        .generator {
          padding: 5em 2em 3em 2em;
        }

        footer {
          flex-direction: column;
        }

        @media screen and (max-width: 600px) {
          .controls,
          .mockup {
            align-self: stretch;
          }

          .mockup {
            width: 100%;
            height: max-content;
            font-size: 0.57em;
          }

          .mockup .animated-logo {
            align-items: flex-start;
          }

          .animated-logo .logo-letters,
          .animated-logo .logo-roller,
          .animated-eraser {
            margin-top: 10em;
            width: 200px;
          }

          .mockup .menu-items {
            display: none;
          }

          .mockup .hamburger {
            display: inline-block;
            font-size: 2.5em;
          }

          .mockup .header {
            height: max-content;
            flex-wrap: wrap;
            justify-content: center;
            align-items: flex-start;
            text-align: center;
          }

          .mockup .image {
            order: 1;
          }

          .mockup .header .text {
            order: 2;
            flex-basis: 100%;
          }

          .mockup .h1 {
            font-size: 3em;
          }

          .mockup .h2 {
            font-size: 2.25em;
          }

          .mockup .benefits {
            flex-wrap: wrap;
          }

          .mockup .pillar {
            height: auto;
          }

          @media screen and (max-width: 500px) {
            body {
              font-size: 14px;
            }

            h1 {
              font-size: 2em;
            }

            header .logo {
              margin: 2em;
            }

            header .text {
              margin: 0 2em 0 2em;
            }

            header .background img {
              max-height: 40vh;
            }

            .colour-input label {
              font-size: 0.85em;
            }

            .popup-card {
              font-size: 0.85em;
              width: 90vw;
            }
          }
        }
      }
    }
  }
}
